@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="kauth.kakao.com/oauth/authorize?client_id=0def9ac5ef45f949547210255bd662b2&redirect_uri=https://localhost:7219/Privacy&response_type=code">클릭</a>