@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
    if(void 0!==window.is)clearInterval(window.is);
    else{let e="";function check()
    {let t=$(".well--container--2edq4 span"),
    n=$('p[data-purpose="transcript-cue-active"] span font font'),
    i=n.html();e!==i&&t.html(i),e=n.html()}window.is=setInterval(check,200)}
